<!DOCTYPE html>
<html>
  <head>
    <title>OmgGoals</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= button_to 'Logout', session_url, method: :delete %>
    <%= yield %>
  </body>
</html>
